#{extends 'main.html' /}
#{set title:'PayMePayYou - Dashboard' /}

#{set 'moreStyles'}
        #{stylesheet 'dashboard.css' /}
#{/set}

%{
	Map expensesByDate = selectedPool.getExpensesGroupedByDates();
	
}%
<div id="wrapper">
    <div id="header">
		<img src="/public/images/pmpy-2.png" alt="" />
		<p class="greeting">Hello, ${user?.fullName}</p>
		<ul id="nav">
			<li><a href="#">Reports</a></li>
			<li><a href="#">Settings</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>
	<div id="flash">
		#{if flash.error }
			${flash?.error}
		#{/if}	
	</div>
	<div id="content">
		<div class="list-panel">
			<div class="box-panel">
				<h3>Available Expense Pools</h3>
				<ul id="pools-list">
					#{list items:user.account.expensePools, as:'expensePool'}
					<li><a href="#">${expensePool.name}</a></li>
					#{/list}
				</ul>
				<a class="addMore" href="#">Add More</a>
			</div>
		
			<div class="box-panel">
				<h3>Friends</h3>
				<ul id="users-list">
					#{list items:user.account.users, as:'member'}
						#{if member.id != user.id }
							<li><a href="#">${member.fullName}</a></li>
						#{/if}
					#{/list}
				</ul>
				<a class="addMore" href="#">Add More</a>
			</div>				
		</div>
		<div class="main-panel">
		
			<div id="expenses">
				<h3>${selectedPool.name}</h3>
				<div id="expenses-list">
					#{list items:selectedPool.getTransactionDatesSortedDesc(), as:'date'}
						<div class="day">
							<p class="date">${helpers.DateHelper.getSimpleFormatted(date)}</p>
							<table>
								%{ int rownum = 1; String rowClass = "odd"; }%
								#{list items:expensesByDate.get(date), as:'expense'}
									%{  if (rownum % 2 == 0){
											rowClass = "even";
										} else {
											rowClass = "odd";
										}	
										rownum++;
									}%
									<tr class="${rowClass}">
										<td class="spent-on">${expense.name}</td>
										<td class="spent-by">${expense.getExpenseDetailsSummary()}</td>
										<td class="amount">$${expense.amount}</td>										
									</tr>
								#{/list}
							</table>
						</div>
					#{/list}
					<div class="day">
						<p class="date">Jan 10th, 2012</p>
						<table>
							<tr class="odd">
								<td class="spent-on">Grocery</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="even">
								<td class="spent-on">Dinner at harry's</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$30</td>
							</tr>		
							<tr class="odd">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>	
							<tr class="even">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="odd">
								<td class="spent-on">Books and stationery at Kinokuniya Books and stationery at Kinokuniya Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="even">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
						</table>
					</div>
					<div class="day">
						<p class="date">Jan 09th, 2012</p>							
						<table>
							<tr class="odd">
								<td class="spent-on">Grocery</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="even">
								<td class="spent-on">Dinner at harry's</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$30</td>
							</tr>		
							<tr class="odd">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>	
							<tr class="even">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="odd">
								<td class="spent-on">Books and stationery at Kinokuniya Books and stationery at Kinokuniya Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="even">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
						</table>
					</div>		
					<div class="day">
						<p class="date">Jan 08th, 2012</p>
						<table>
							<tr class="odd">
								<td class="spent-on">Grocery</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="even">
								<td class="spent-on">Dinner at harry's</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$30</td>
							</tr>		
							<tr class="odd">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>	
							<tr class="even">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="odd">
								<td class="spent-on">Books and stationery at Kinokuniya Books and stationery at Kinokuniya Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
							<tr class="even">
								<td class="spent-on">Books and stationery at Kinokuniya</td>
								<td class="spent-by">Rahul > 2 people</td>
								<td class="amount">$60</td>
							</tr>
						</table>
					</div>	
				</div>					
			</div>
		</div>
		<div class="right-panel">
			<div class="box-panel positive">
				<p class="balance">$25</p>
			</div>	
			<div class="box-panel negative">
				<p class="balance ">$25</p>
			</div>	
		</div>
	</div>
</div>