#{extends 'main.html' /}
#{set title:'PayMePayYou - Signup' /}

<div id="wrapper">
    <div id="header">
		<img src="@{'/public/images/logo2.png'}" alt="" />
	</div>
	<div id="formpanel">
		<div id="loginForm">
			<h2>Create an account</h2>
			<form>
			#{form @signupUser()}
				#{field 'user.fullName'}
        			<p class="${field.errorClass}">				
						<label for="fullName" class="inputLabel">Full Name:</label>
						<input type="text" id="fullName" />
						<span class="error">${field.error}</span>
					</p>
				#{/field}		
				#{field 'user.email'}
        			<p class="${field.errorClass}">					
						<label for="loginId" class="inputLabel">Email:</label>
						<input type="text" id="loginId" />
						<span class="error">${field.error}</span>
					</p>						
				#{/field}					
				#{field 'user.password'}
        			<p class="${field.errorClass}">					
						<label for="password" class="inputLabel">Password:</label>
						<input type="password" id="password" />
						<span class="error">${field.error}</span>
					</p>						
				#{/field}						
				<input type="submit" name="Login" value="Start sharing"></input>	
			#{/form}
		</div>
	</div>
</div>

