#{extends 'main.html' /}
#{set title:'PayMePayYou - Signup' /}

<div id="wrapper">
    <div id="header">
		<img src="@{'/public/images/logo2.png'}" alt="" />
	</div>
	<div id="formpanel">
		<div id="loginForm">
			<h2>Create an account</h2>
			#{form @SignUp.signupUser()}
				#{field 'user.fullName'}
        			<p>				
						<label for="user.fullName" class="inputLabel">Full Name:</label>
						<input type="text" id="user.fullName" name="user.fullName" value="${user?.fullName}" class="${field.errorClass}"/>
						<span class="error">${field.error}</span>
					</p>
				#{/field}		
				#{field 'user.email'}
        			<p>					
						<label for="user.email" class="inputLabel">Email:</label>
						<input type="text" id="user.email" name="user.email" value="${user?.email}" class="${field.errorClass}"/>
						<span class="error">${field.error}</span>
					</p>						
				#{/field}					
				#{field 'user.password'}
        			<p>					
						<label for="user.password" class="inputLabel">Password:</label>
						<input type="password" id="user.password" name="user.password" class="${field.errorClass}"/>
						<span class="error">${field.error}</span>
					</p>						
				#{/field}						
				<input type="submit" name="Login" value="Start sharing"></input>	
			#{/form}
		</div>
	</div>
</div>

